<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          routerLink="recipes"
          class="nav-link"
          routerLinkActive="activeClass"
          *ngIf="isAuthenticated$ | async"
        >Recipes</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="auth"
          class="nav-link"
          routerLinkActive="activeClass"
          *ngIf="!(isAuthenticated$ | async)"
        >Authenticate</a>
      </li>
      <li class="nav-item">
        <a
          routerLink="shopping-list"
          class="nav-link"
          routerLinkActive="activeClass"
        >Shopping List</a>
      </li>
    </ul>
    <button
      type='button'
      class="btn btn-info button-margin"
      style='cursor: pointer'
      *ngIf="isAuthenticated$ | async"
      (click)="onLogOut()"
    >Log Out
    </button>
    <div
      class="btn-group"
      #r="appDropDown"
      *ngIf="isAuthenticated$ | async"
      appDropDown
    >
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage
        <span class="caret"></span>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-right"
        [ngClass]="{'show':r.isOpen}"
      >
        <li>
          <a
            class="dropdown-item"
            style="cursor:pointer"
            (click)="onSaveData()"
          >Save Data</a></li>
        <li>
          <a
            class="dropdown-item"
            style="cursor:pointer"
            (click)="onFetchData()"
          >Fetch Data</a></li>
      </ul>
    </div>
  </div>
</nav>
