.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 5%;
}

.margin-bottom {
  margin-bottom: 5%;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.errorColor {
  color: red;
}
