<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <a
      style="margin-bottom: 25px"
      href="#"
      class="list-group-item"
      *ngFor="let recipe of recipes"
    >
      <div class="card-body">
        <h4 class="card-text">{{recipe.name}}</h4>
        <p class="card-text">{{recipe.description}}</p>
      </div>
      <img
        [src]="recipe.imagePath"
        alt="{{recipe.name}}"
        class="card-img-bottom"
        [style]="{maxHeight: '50px'}"
      >
    </a>
  </div>
  <app-recipe-item></app-recipe-item>
</div>
